.container {
  position: absolute;
  top: 43px;
  right: 0;
  height: 100vh;
}

.chat-container {
  border: none;
  color: aliceblue;
  padding-top: 7.3rem;
  padding-right: 4.4rem;
  padding-left: 5.125rem;
  display: flex;
  flex-direction: column;
}
.chat-section {
  overflow-y: auto;
  height: 392px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 8px rgba(0, 0, 0, 0.08);
  background-color: #1f1f1f;
  margin-bottom: 2.2rem;
  padding: 20px 16px;
  scroll-behavior: smooth;
}

.input-section {
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
  background-color: #1f1f1f;
  font-size: 14px;
  color: #a9a9a9;
  padding: 28px 0 26px 36px;
  border: 0;
}

.quote {
  display: block;
  padding-bottom: 16px;
  align-items: center;
}

.right .round-avatar {
  float: right;
}
.round-avatar {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  float: left;
  width: 26px;
  margin: 4px;
}

.right .speech-bubble {
  float: right;
}

.speech-bubble {
  border-radius: 16px;
  background-color: #404040;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  color: #cdcdcd;
  float: left;
  word-wrap: break-word;
  max-width: calc(100% - 80px);
}

.clear {
  clear: both;
}
