@font-face {
  font-family: "americantypewriter";
  src: url("/src/assets/fonts/american_typewriter.woff") format("woff");
}

@font-face {
    font-family: 'quickstand';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/OpenSans-Regular.ttf') format('truetype');
}
