$pinkish-grey-color: #c6c6c6;
$greyish-brown-color: #454545;
$light-grey-color: #d3d3d3;
$dark-grey-color: #a9a9a9;
$white-color: #FFF;

$main-background: #171717;
$grey-background: #404040;
$dark-grey-background: #1f1f1f;
$teal-background: #66d68d;

$border-color: #ffffffe6;
$black-border-color: #2b2b2b;
$black-tile-color: #161616;

$breakpoint-tablet: 768px;
