@import "/src/assets/css/variables";

.header {
    display: flex;
    flex: 1 100%;
    align-items: center;
    justify-content: space-between;
    color: $white-color;
    border-bottom: solid 2px rgb(255 255 255 / 0.9);
    height: 46px;
}

.headerLogo {
    padding: 10px;
    font-size: 18px;
    opacity: 0.8;
    font-family: "americantypewriter";
}

.headerLinks {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    font-size: 12px;
    font-weight: 500;
    color: $pinkish-grey-color;
    align-items: center; 

    > li {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.profileLink {
    display: flex;
    align-items: center;
    justify-content: space-between;

    > .text {
        margin-left: 8px;
        margin-right: 8px;
    }

    > img {
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        float: left;
        width: 26px;
    }
}
