@import "/src/assets/css/variables";

.header {
    flex: 1 100%;
    color: $white-color;
    border-bottom: solid 2px $border-color;
    height: 46px;
}

.headerLogo {
    padding: 10px;
    font-size: 18px;
    opacity: 0.8;
    font-family: "americantypewriter";
}

.headerLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: auto;
    font-size: 12px;
    font-weight: 500;
    color: $pinkish-grey-color;
    > li {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.profileLink {

    > .text {
        margin-left: 8px;
        margin-right: 8px;
    }

    > img {
        border-radius: 50%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        float: left;
        width: 26px;
    }
}
